
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import "reset.css";

@import "header.css";

@import "content.css";
@import "upload.css";
@import "input.css";

html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

html {
    background: #555;
    font-family: Roboto, sans-serif;
}
