
#header nav {
    display: inline-block;
    padding: 0;
    padding-left: 30px;
    position: absolute;
    right: 0;
}

#header nav a {
    color: #888;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.5);
    padding: 10px 20px;
    margin: 0 10px;
}

#header nav a:hover {
    background-color: #e8e8e8;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    color: #555;
}

#header nav a:active {
    background-color: #ccc;
    box-shadow: inset 100px 1px 5px -100px rgba(0,0,0,0.5), inset -100px 1px 5px -100px rgba(0,0,0,0.5);
}

#header nav a#active {
    background-color: #e28b00;
    box-shadow: inset 100px 1px 3px -100px rgba(0,0,0,0.25), inset -100px 1px 3px -100px rgba(0,0,0,0.25);
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
}
